.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
tools/**
.github/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
lazyreq-spec.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/demo.gif
